body{
    height: 100vh;
}
#heading{
    color:blueviolet;
    font-weight: 500;
    text-align: center;
    font-size: 50px;
}
#heading:hover{
     color:burlywood;
}
.sanji{
    height: 350px;
    width:500px;
    box-sizing: border-box;
    
    margin:auto;
}
.han{
    height: 350px;
    width:350px;
    
    box-sizing: border-box;
    display: inline-block;
    margin-top: 50px;
    margin-left: 95px;
}
.im{
    height: 350px;
    width:500px;
}
.im2{
    height: 350px;
    width:350px;
    
}
.handi{
    height: auto;
    width: 400px;
}
.aloo{
    height: auto;
    width: 300px;
}
.ulist,a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    margin-left:70px; 
}
.ulist1,a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    margin-left: 155px; 
}
.ulist2,a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    margin-left: 155px; 
}


.ulist,a:hover{
    color: cadetblue;
}
h1{
    color:steelblue;
}
.back{
    margin: 0px;
}
.back:hover{
    color: cadetblue;
}
body{
    background-color: white;
}
.container{
    margin-top:30px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     
}
img{
    height: 400px;
    width:450px;
}
.item{
    height: 500px;
    width:400px
}
.item3{
    margin-left:-5px ;
}